div{
    width: 200px;
    height: 100px;
    background-color: blue;
margin-top: 25%;
margin-left: 40%;

transition: 2s ease-in-out;
}


div:hover{ 
    transform: skew(45deg);
}
@keyframes anim{
    0%{width: 5px;
         background-color: aqua;

    }
    50%{width: 200px;
        background-color: rgb(21, 0, 255);

    }
    100%{width: 100px;
        background-color: rgb(34, 255, 0);
    }
} 